 <div class="panel panel-default">
  <div class="panel-body">
    <%= link_to 'Back', movies_path, class: "btn btn-xs  btn-default"  %>  
     <% if user_signed_in? %>
        <% if current_user.email == 'sahaz@gmail.com'%>
          <%= link_to 'Edit Movie info', edit_movie_path(@movie), class: "btn btn-xs  btn-warning" %>  
        <% end %>
    <% end %>
    <br>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag @movie.image.url(:medium), class: "img-responsive img-rounded center-block" %>
        <br>

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
             
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating %> STARS</td>
              </tr>
              <tr>
                <td><strong>Average Review :</strong></td>
                <td><div class="star-rating" data-score= <%= @avg_review %> ></div>
                 
                </td>
              </tr>
            </tbody>
          </table>
         
        </div>
      </div>
      <div class="col-md-7 ">
        <div class="row">
          <div class="col-md-10">
            <h1 class="review_title"><%= @movie.title %></h1>
          </div>
          <div class="col-md-2">
           <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-xs btn-info" %>
          </div>
        </div>
        <p class="lead"><b>Plot : </b><%= @movie.description %></p>
        <hr>

        <% if @reviews.blank? %>
          <em>No reviews have been posted for this movie. Be the first to add a review ! </em> 
          <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-xs btn-danger" %>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <strong><%= review.user.email %></strong>
               <div class="star-rating" data-score= <%= review.rating %> ></div>
              <em><%= review.comment %></em>
              

            </div>
          <% end %>
        <% end %>
       
      </div>
    </div>
  </div>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>