  <!DOCTYPE html>
<html>
<head>
  <title>MovieReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-4">
				<% flash.each do |name, msg| %>
						<%= content_tag(:div, msg, class: "alert alert-success") %>
				<% end %>
			</div>
		</div>	
		<%= yield %>
	</div>

</body>
</html>
